body, html, * {
    padding: 0;
    margin: 0;
}

.container {
    height: 100vh;
    display: flex;
}

.navbar {
    flex: 1;
    background-color: #e7e7e7;
}

.navbar h1 {
    margin: 1rem;
}

.navbar ul li {
    margin: 0 0 2rem 3rem;
    list-style-type: none;
}

.navbar ul li a {
    text-decoration: none;
    font-size: 3vmin;
    color: black;
}


.clash {
    flex: 3;
    display: flex;
}

.clash .slider {
    flex: 2;
    overflow: hidden;
}

.clash .prof {
    flex: 2;
    background-color: #e7e7e7;
}

.stat {
    overflow: hidden;
    width: auto;
}

.stat p {
    font-size: 18px;
    margin: 5px 0;
    text-align: center;
}

.geser::-webkit-scrollbar {
    display: none;
}

.geser {
    height: 10vh;
    overflow-x: auto;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    position: relative;
}

.status {
    margin-right: 2rem;
    height: 10vh;
    box-sizing: border-box;
}

.status .gambar {
    width: 3.5vw;
    height: 7vh;
    background-image: url(SMILE.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 100%;
}

.status .txt {
    font-size:  12px;
    text-align: center;
}

.txt p {
    display: block;
}

.slipost {
    overflow-y: auto;
    display: block;
    height: 85vh;
    box-sizing: border-box;
    margin-top: 10px;
}

.slipost::-webkit-scrollbar {
    display: none;
}

.post {
    width: 39vw;
    margin: 0 auto 4rem auto;
    background-color: #e7e7e7;
}

.profile {
    height: 7vh;
    align-items: center;
    display: flex;
    padding: 5px;
}

.pr {
    width: 3vw;
    height: 6vh;
    background-image: url(SMILE.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}

.profile p {
    margin-left: 7px;
    font-weight: bold;
}

.foto {
    height: 40vh;
    background-image: url(SMILE.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.capt {
    box-sizing: border-box;
    padding: 3px;
}

.love {
    height: 4vh;
    display: flex;
    align-items: center;
}

.like {
    height: 3vh;
    font-weight: bold;
}

.caption {
    font-size: 1rem;
    margin: 2px;
}